{% extends '../layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container add-border">

    <form method="post" action="/restaurants/{{ restaurant.id }}/edit">
      <br><br>
      Name<br><br>
      <input type="text" name="restname" value="{{ restaurant.name }}">
      <br><br>
      Location<br><br>
      <input type="text" name="city" value="{{ restaurant.city }}"><br><br>
      <select name="state">
        <option value="{{ restaurant.state }}">{{ restaurant.state }}</option>
        <option value="AL">AL</option>
        <option value="AK">AK</option>
        <option value="AZ">AZ</option>
        <option value="AR">AR</option>
        <option value="CA">CA</option>
        <option value="CO">CO</option>
        <option value="CT">CT</option>
        <option value="DE">DE</option>
        <option value="DC">DC</option>
        <option value="FL">FL</option>
        <option value="GA">GA</option>
        <option value="HI">HI</option>
        <option value="ID">ID</option>
        <option value="IL">IL</option>
        <option value="IN">IN</option>
        <option value="IA">IA</option>
        <option value="KS">KS</option>
        <option value="KY">KY</option>
        <option value="LA">LA</option>
        <option value="ME">ME</option>
        <option value="MD">MD</option>
        <option value="MA">MA</option>
        <option value="MI">MI</option>
        <option value="MN">MN</option>
        <option value="MS">MS</option>
        <option value="MO">MO</option>
        <option value="MT">MT</option>
        <option value="NE">NE</option>
        <option value="NV">NV</option>
        <option value="NH">NH</option>
        <option value="NJ">NJ</option>
        <option value="NM">NM</option>
        <option value="NY">NY</option>
        <option value="NC">NC</option>
        <option value="ND">ND</option>
        <option value="OH">OH</option>
        <option value="OK">OK</option>
        <option value="OR">OR</option>
        <option value="PA">PA</option>
        <option value="RI">RI</option>
        <option value="SC">SC</option>
        <option value="SD">SD</option>
        <option value="TN">TN</option>
        <option value="TX">TX</option>
        <option value="UT">UT</option>
        <option value="VT">VT</option>
        <option value="VA">VA</option>
        <option value="WA">WA</option>
        <option value="WV">WV</option>
        <option value="WI">WI</option>
        <option value="WY">WY</option>
      </select><br><br>
      Cuisine<br><br>
      <select name="cuisine">
        <option value="{{ restaurant.cuisine }}">{{ restaurant.cuisine }}</option>
        <option value="American">American</option>
        <option value="Italian">Italian</option>
        <option value="Mexican">Mexican</option>
        <option value="Thai">Thai</option>
        <option value="Vietnamese">Vietnamese</option>
      </select><br><br>
      Rating
      <input type="range" name="rating" min="1" max="5"><br><br>
      Image
      <select name="image">
        <option value="{{ restaurant.image }}">{{ restaurant.cuisine }}</option>
        <option value="burger.png">American</option>
        <option value="italian.png">Italian</option>
        <option value="mexican.png">Mexican</option>
        <option value="thai.jpg">Thai</option>
        <option value="pho.jpg">Vietnamese</option>
      </select><br><br>
      <br><br>
      <textarea rows="10" cols="50" name="description"placeholder="Short Bio">{{ restaurant.description }}</textarea>
      <button type="submit" value="Submit" name="submit">Submit</button>
    </form>

    <form method="post" action="/restaurants/{{ restaurant.id }}/delete">
      <button type="submit" name="reset">Delete {{ restaurant.name }}</button>
    </form>

  </div>

{% endblock %}