{% extends '../layout.html' %}

{% block title %}{{ title }}{% endblock %}


{% block content %}


    <div class="container">

    <div class="col-xs-4">
      <h1>{{ singleRestaurant.name }}</h1>
      <img src="/images/{{ singleRestaurant.image }}" class="image">
    </div>

    <div class="col-xs-8 description">
      <p>{{ singleRestaurant.cuisine }} Cuisine!</p>
      <p>{{ singleRestaurant.city }}, {{ singleRestaurant.state }}</p>
      <br><br>
      <!-- <p>Rating:★★★★</p> -->
      <p>{{ singleRestaurant.description }}</p>
    </div>



    <div class="col-xs-8 col-xs-offset-4">
      <a href="/restaurants/{{ singleRestaurant.id }}/edit"><button type="submit" class="btn-primary edit">Edit {{ singleRestaurant.name }}</button></a>
      <form action="/restaurants/{{ singleRestaurant.id }}/delete" method="post">
        <button type="submit" class="btn-danger edit" method="post">Delete {{ singleRestaurant.name }}</button>
      </form>
      <a href="{{ singleRestaurant.id }}/reviews"><button type="submit" class="btn-danger edit">Review {{ singleRestaurant.name }}</button></a>
    </div>

    </div>

    <div class="row">
      <h1>Reviews of {{ singleRestaurant.name }}</h1>

        <div class="showPageReviews">
          <div class="container">

            {% for reviews in reviews %}
            <div class="addBorderBottom">
              <p>Name: {{ reviews.name }}</p>
              <p>Date of review: {{ reviews.review_date }}</p>
              <p>{{ reviews.name }}'s Review: "{{ reviews.review }}"</p>
              <form action="/restaurants/{{ singleRestaurant.id }}/reviews/{{ reviews.id }}/edit"><button class="btn-primary" method="post">Edit</button></form>
            </div>
            {% endfor %}

          </div>
        </div>

    </div>

{% endblock %}